@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.nav-container {
    background-color: #1f1f1f;
    border-bottom: #00bfff;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    

}
.nav-container ul li {
    list-style: none;
    border: #00bfff 2px solid;
    padding: 15px;
    border-radius: 20px;
}

.nav-container ul li:hover{
    background-color: #00bfff;
    transition: 0.5s;
}

.nav-container ul li a {
    text-decoration: none;
    color: #fff;
}

#pagina-selecionada {
    color: #00bfff;
}

.frontend-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.index-card {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
.index-card img {
    width: 300px;
    height: 250px;
    margin: auto;
}
.index-card:hover {
    transform: scale(1.05);
}
